body {
    margin: 0px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

p {
    margin: 10px auto;
    width: 980px;
    text-align: justify;
    font-size: 18px;
    line-height: 28px;
}

.secao {
    padding: 0px 30px;
    text-align: center;
}

span {
    font-weight: bold;
}

.subtitulo {
    color: #0b3f9f;
    margin: 0px;
    font-weight: normal;
}

.texto-azul {
        color: #0b3f9f;
}
