.quarta-secao {
    background-color: #0b3f9f;
    padding: 40px;

    .subtitulo {
        color: #ffffff;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 28px;
        line-height: 42px;
    }

    p {
        color: #ffffff;
        line-height: 42px;
        font-size: 22px;
        text-align: center;
        width: 700px;
    }

    ul {
        margin: 40px auto;
        width: 250px;

        li {
            color: #ffffff;
            line-height: 43px;
            text-align: left;
            font-size: 22px;
        }
    }
}
